{% extends 'base.html' %}
{% block content1 %}
<style>
    table{
        margin-top:20px;
        width:250px;
        height:150px;
        border:solid 1px;
        border-collapse:collapse;
        background-color:#80d0ff;
        text-align:center;
    }
    tr{
        border:solid 1px;
    }
    td{
        border:solid 1px;
    }
    //父區塊不可以是 position:static
    #login_form{
        position : absolute;
    }
    #login_error{
        position : absolute;
        visibility:hidden;
    }
</style>
    <!--
    get : http://mahaljsp.ddns.net:7001/login_process/?userAccount=lcc&userPassword=sss&test=hello <=? &
    post : 開啟另一條連線傳送參數, 所以看不到帳號密碼
    csrf : 關閉 "跨站請求攻擊" 的保護
    -->
    <form action="/login_process/" method="post" id="login_form">
        {% csrf_token %}
        <table>
            <tr>
                <td colspan="2">會員登入系統</td>
            </tr>
            <tr>
                <td width="50px;">帳號</td>
                <td>
                    <input type="text" name="userAccount"/>
                </td>
            </tr>
            <tr>
                <td width="50px;">密碼</td>
                <td>
                    <input type="password" name="userPassword"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="登入"/>
                </td>
            </tr>
        </table>
    </form>
    <table id="login_error">
        <tr>
            <td>會員登入系統</td>
        </tr>
        <tr style="height:80px;background-color:#ffff00;opacity:0.5;">
            <td>帳號或密碼錯誤</td>
        </tr>
        <tr>
            <td>
                <button type="button" onclick="hide_error();">確定</button>
            </td>
        </tr>
    </table>
<script>
    {% if login == "error" %}
        document.getElementById("login_form").style.visibility="hidden";
        document.getElementById("login_error").style.visibility="visible";
    {% endif %}
    function hide_error(){
        document.getElementById("login_form").style.visibility="visible";
        document.getElementById("login_error").style.visibility="hidden";
    }
</script>
{% endblock %}