{% extends 'base.html' %}
{% block content1 %}
<style>
    table{
        border: 1px solid #0000ff;
        border-collapse:collapse;
        margin-top:50px;
        width:800px;
        text-align:center;
        background-color:fefefe;
    }
    tr{
        height:40px;
        border:1px solid #000000;
    }
    td{
        width:33%;
        border:1px solid #000000;
    }
    a{
        text-decoration:none;
    }
</style>
<table id="url_table">
    <tr  style="background-color:#a0f0f0">
        <td colspan="3">常用工具下載</td>
    </tr>
    <tr>
        <td>
            <a href="http://mahaljsp.ddns.net/download/嘸蝦米輸入法7.0.7.514 繁體中文版.zip" target="_blank">
                嘸蝦米輸入法7.0.7.514 繁體中文版
            </a>
        </td>
        <td>
            <a href="http://mahaljsp.ddns.net/download/MAS_AIO.zip">
                Win10破解
            </a>
        </td>
        <td>
            <a href="http://mahaljsp.ddns.net/download/WinRAR5.40中文正式版.zip">
                WinRAR5.40中文正式版
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://mahaljsp.ddns.net/download/Adobe2020/AdobePhotoshop2020SP.rar" target="_blank">
                PhotoShop 2020 SP
            </a>
        </td>
        <td>
            <a href="http://mahaljsp.ddns.net/download/Adobe2020/AdobeIllustrator2020SP.rar" target="_blank">
                Illustrator 2020 SP
            </a>
        </td>
        <td>
            <a href="http://mahaljsp.ddns.net/download/AdobeAcrobatXIPro11.zip" target="_blank">
                Adobe Acrobat XI Pro11
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://mahaljsp.ddns.net/download/Office2013_2019.rar" target="_blank">
                Office2013_2019自動安裝
            </a>
        </td>
        <td>
            <a href="http://mahaljsp.ddns.net/download/Autocad2018.zip" target="_blank">
                Autocad 2018
            </a>
        </td>
        <td>
            <a href="http://mahaljsp.ddns.net/download/NaviKing_3DPro_v2.65.1.709.apk" target="_blank">
                NaviKing_3DPro_v2.65.1.709
            </a>
        </td>
    </tr>
</table>
{% endblock %}