# 忽略虛擬環境
/venv/

# 忽略 flower_photos
lesson_code/6_module_training/flower_photos/
lesson_code/6_module_training/flower_photos.tgz
lesson_code/7/flowers_17
lesson_code/7/test_images
lesson_code/7/train_images
